{% extends 'base.html.twig' %}

{% block body %}
<div class="table text-center">
	<div class="tableCell vertMiddle">
        <div class="error">error</div>
        <a href="{{ path('gallery_index') }}">to the gallery index</a>
	</div>
</div>
{% endblock %}
