<span class="login">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	<span class="show-for-medium">
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
	</span>
    <a href="{{ path('fos_user_security_logout') }}">
        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
    </a>
    {% endif %}
</span>
