<a class="button social tweeter"
	href="https://twitter.com/intent/tweet?url={{ app.request.schemeAndHttpHost ~ app.request.requestUri }};text=yes"
		target="_blank" alt ="Tweet">
    <i class="icon-twitter-circled"></i>
</a>


<a class="button social facebook"
  href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.schemeAndHttpHost ~ app.request.requestUri }}"
  >
  <i class="icon-facebook-circled"></i>
</a>
