<a class="button social" 
	href="https://twitter.com/intent/tweet?url={{ app.request.schemeAndHttpHost ~ app.request.requestUri }};text=yes"
		target="_blank" alt ="Tweet">
    Tweet
</a>


<a class="button social"
  href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.schemeAndHttpHost ~ app.request.requestUri }}" 
  >
  Share on Facebook
</a>
