<a class="button social tweeter"
	href="https://twitter.com/intent/tweet?url={{ app.request.schemeAndHttpHost ~ app.request.requestUri }}"
		      target="_blank" alt ="Tweet">
    <i class="icon-twitter-circled"></i>
</a>


<a class="button social facebook"
    href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.schemeAndHttpHost ~ app.request.requestUri }}"
        target="_blank" alt ="Share">
    <i class="icon-facebook-circled"></i>
</a>
