{% extends 'base.html.twig' %}

{% block body %}

<header>
    <span class="navigation">
        <a class="tip" href="{{ path('gallery_index') }}" title="back : keyboard b">&lt;</a>
    </span>
    <span class="serie">About</span>
</header>

<div class="push"></div>

<div class="index">

    <div class="itemTitle">
        K
    </div>
    <p>
        K is an Italian painter born in 1963, living in Swizterland.
    </p>
    <p>
        She is a self-taught artist who also loves to work with unconventional materials and techniques.
    </p>
</div>

{% endblock %}
