{% extends "base.html.twig" %}

{% block body %}
<div class="table text-center">
	<div class="tableCell vertMiddle">
		
		<div class="indexContainer">
			<div class="k">K</div>
			<div class="gallery">art gallery</div>
			<div class="galleryGradient"></div>
			
			<div class="test1">'</div>
			<div class="test2">s</div>
		</div>
		
	</div>
</div>
{% endblock %}