{% extends 'base.html.twig' %}

{% block body %}
<header>
	<span class="serie">Add gallery item</span>
</header>
<div class="index">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="button myButton expanded" type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a class="myButton" href="{{ path('galleryitem_index') }}">Back to the list</a>
        </li>
    </ul>
</div>
{% endblock %}
