/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* atinfo base scss */
/* COMPASS IMPORTS */
@import url(https://fonts.googleapis.com/css?family=Arizonia|Bilbo|Inconsolata|Lato:100,300,400,700,900);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Muli:300);
/* line 5, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* OWN MIXINS */
/* Simple animation with named arguments */
/* line 1, ../sass/_global.scss */
html, body {
  height: 100%;
}

/* line 3, ../sass/_global.scss */
body {
  color: #eee;
  background-color: #111;
}

/* line 8, ../sass/_global.scss */
a {
  color: #ddd;
}

/* line 9, ../sass/_global.scss */
a:hover {
  color: #eee;
}

/*
 * make divs behave like table cells
*/
/* line 15, ../sass/_global.scss */
.table {
  display: table;
  width: 100%;
  height: 100%;
}

/* line 16, ../sass/_global.scss */
.tableCell {
  display: table-cell;
}

/* line 17, ../sass/_global.scss */
.vertMiddle {
  vertical-align: middle;
}

/* line 20, ../sass/_global.scss */
.button {
  background-color: #333;
  font-family: helvetica;
  margin: 0;
}

/* line 21, ../sass/_global.scss */
.button:hover, .button:active, .button:focus {
  background-color: #222;
}

/* line 24, ../sass/_global.scss */
div.socialButtons {
  position: absolute;
  right: 0;
  display: inline-block;
}

/* line 30, ../sass/_global.scss */
a.social.button {
  position: relative;
  display: inline-block;
  height: 36px;
  width: 36px;
  padding: 0;
  background-color: transparent;
  transition: width linear 1s;
}

/* line 40, ../sass/_global.scss */
i {
  color: #990066;
  position: relative;
  display: block;
  font-size: 30px;
}

/* line 47, ../sass/_global.scss */
i:hover {
  color: #ff0099;
}

/* line 51, ../sass/_global.scss */
a.social.button:hover, a.social:focus {
  color: #ff0099;
}

/* line 55, ../sass/_global.scss */
a span {
  display: none;
  opacity: 1;
}

/* line 60, ../sass/_global.scss */
a:hover span {
  padding: 10px;
  z-index: 100;
  position: absolute;
  left: 40px;
  top: 40px;
  text-decoration: none;
  background-color: #990066;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 4, ../sass/_index.scss */
.indexContainer, #login {
  position: relative;
  margin: auto;
  width: 300px;
  height: 300px;
  /* 	background-color : #111; */
  background: rgba(17, 17, 17, 0.4);
}

/* line 14, ../sass/_index.scss */
.indexContainer {
  cursor: pointer;
}

/* line 16, ../sass/_index.scss */
.k {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 80%;
  font-size: 260px;
  font-family: 'Bilbo', cursive;
  padding: 20px;
}

/* line 28, ../sass/_index.scss */
.tick {
  position: absolute;
  top: 0;
  right: 50px;
  font-size: 100px;
  font-family: 'Bilbo', cursive;
}

/* line 36, ../sass/_index.scss */
.s {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 100px;
  font-family: 'Bilbo', cursive;
}

/* line 45, ../sass/_index.scss */
.gallery {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 25%;
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  font-weight: 300;
}

/* line 57, ../sass/_index.scss */
.galleryGradient {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 20%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzExMTExMSIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTExMTEiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(17, 17, 17, 0)), color-stop(100%, #111111));
  background-image: -moz-linear-gradient(top, rgba(17, 17, 17, 0), #111111);
  background-image: -webkit-linear-gradient(top, rgba(17, 17, 17, 0), #111111);
  background-image: linear-gradient(to bottom, rgba(17, 17, 17, 0), #111111);
  background-image: -ms-linear-gradient(to bottom, rgba(17, 17, 17, 0), #111111);
  z-index: 10;
}

/* line 73, ../sass/_index.scss */
#logo {
  z-index: 20;
}

/* line 77, ../sass/_index.scss */
.message {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 80px;
  line-height: 80px;
  margin-top: -40px;
  margin-left: -150px;
  font-family: 'Bilbo', cursive;
  font-size: 60px;
  background-color: #906;
  border: 1px solid #666;
  z-index: 20;
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

/*
 * -- labels --
*/
/* line 4, ../sass/_forms.scss */
label {
  font-family: 'Lato', sans-serif;
  height: 40px;
  line-height: 40px;
  font-size: 150%;
  color: white;
}

/* line 12, ../sass/_forms.scss */
.imageEdit label {
  height: 50px;
  line-height: 50px;
}

/*
 * -- text, password and select inputs --
*/
/* line 21, ../sass/_forms.scss */
input[type="text"], input[type="text"]:focus, input[type="password"], input[type="password"]:focus, select {
  color: white;
  height: 40px;
  line-height: 40px;
  background-color: #333;
  border: 1px solid #555;
  font-family: helvetica;
}

/*
 * -- file input --
*/
/* line 35, ../sass/_forms.scss */
input[type="file"] {
  font-family: helvetica;
}

/*
 * -- button and submit --
*/
/* line 43, ../sass/_forms.scss */
input[type="button"], input[type="submit"], .myButton {
  font-family: helvetica;
  color: #ccc;
  background-color: #555;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 10px 0;
  width: 100%;
}

/* line 58, ../sass/_forms.scss */
input[type="button"]:hover, input[type="submit"]:hover, .myButton:hover {
  color: #eee;
  background-color: #222;
}

/* line 63, ../sass/_forms.scss */
input[type="button"]:focus, input[type="submit"]:focus, .myButton:focus {
  color: #eee;
  background-color: #222;
}

/*
 * -- misc --
*/
/* line 72, ../sass/_forms.scss */
option {
  padding: 10px;
}

/* line 76, ../sass/_forms.scss */
textarea, textarea:focus {
  font-family: helvetica;
  color: white;
  height: 100px;
  background-color: #333;
  border: 1px solid #555;
}

/* line 84, ../sass/_forms.scss */
.delete:hover {
  background-color: #a00 !important;
}

/*
 * -- HEADER --
*/
/* line 23, ../sass/screen.scss */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #222;
  font-family: 'Lato', sans-serif;
  z-index: 50;
}

/* line 35, ../sass/screen.scss */
header.admin {
  background-color: #600;
}

/* line 37, ../sass/screen.scss */
span.serie {
  font-size: 150%;
  font-weight: 300;
  padding: 0 10px;
  font-family: 'Lato', sans-serif;
  color: #ccc;
}

/* line 46, ../sass/screen.scss */
span.name {
  font-size: 180%;
  font-weight: 300;
  padding: 0 10px;
  font-family: 'Lato', sans-serif;
  color: #ddd;
}

/* line 54, ../sass/screen.scss */
span.login {
  float: right;
  margin-right: 20px;
}

/* line 59, ../sass/screen.scss */
span.navigation {
  font-size: 180%;
  font-weight: 400;
  padding: 0 0 0 10px;
  font-family: 'Lato', sans-serif;
  color: #ddd;
}

/* line 67, ../sass/screen.scss */
span.navigation a {
  color: #ddd;
}

/*
 * -- FOOTER --
*/
/* line 75, ../sass/screen.scss */
footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.8);
  font-size: 100%;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  text-align: center;
  /* 	color :#ccc; */
  z-index: 50;
  /* 	@include debug(yellow); */
}

/*
 * -- TABLES --
*/
/* line 94, ../sass/screen.scss */
table tbody, table tfoot, table thead, table tbody tr:nth-child(2n) {
  background: none;
  border: none;
  font-family: 'Lato', sans-serif;
}

/*
 * -- IMAGES --
*/
/* line 104, ../sass/screen.scss */
#imageWrapper {
  color: black;
  position: relative;
  margin: auto;
  width: 240px;
  z-index: 30;
}

/* line 112, ../sass/screen.scss */
#bg {
  position: absolute;
  max-width: none;
  z-index: 10;
}

/* line 118, ../sass/screen.scss */
#bgTmp {
  position: absolute;
  top: 0;
  left: 0;
  max-width: none;
  z-index: 0;
}

/* line 126, ../sass/screen.scss */
img.admin {
  width: 200px !important;
  margin: 20px;
}

/* line 131, ../sass/screen.scss */
img.preview {
  width: 200px !important;
  margin: 40px auto;
}

/* line 136, ../sass/screen.scss */
.imageEdit {
  width: 100%;
  float: left;
  text-align: center;
  padding: 20px;
  background-color: #333;
  border-left: 1px solid black;
}

/*
 * -- GALLERIES --
*/
/* line 150, ../sass/screen.scss */
div.index {
  position: relative;
  max-width: 900px;
  margin: auto;
}

/* line 156, ../sass/screen.scss */
div.indexTitle {
  padding: 20px;
  font-size: 200%;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  border-bottom: 1px solid #222;
  cursor: pointer;
}

/* line 166, ../sass/screen.scss */
div.indexTitle:nth-child(even) {
  background-color: #070707;
}

/* line 170, ../sass/screen.scss */
div.indexDescription {
  padding: 20px 30px 0px 30px;
  font-size: 60%;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  line-height: 130%;
}

/* line 179, ../sass/screen.scss */
.galleryIndexWrapper {
  width: 100%;
  float: left;
  padding-bottom: 20px;
  /* 	@include debug(red); */
}

/* line 186, ../sass/screen.scss */
#bgimageSize, #imageSize {
  margin: 10px;
}

/* line 190, ../sass/screen.scss */
.wrapper {
  background-color: #333;
}

/* line 194, ../sass/screen.scss */
span.details {
  display: block;
  width: 100%;
  font-family: helvetica;
  padding: 5px 0;
}

@media only screen and (min-device-width: 768px) {
  /* line 204, ../sass/screen.scss */
  #imageWrapper {
    width: 400px;
  }

  /* line 208, ../sass/screen.scss */
  .galleryIndexWrapper {
    width: 50%;
  }

  /* line 212, ../sass/screen.scss */
  .imageEdit {
    width: 50%;
  }
}
/* line 218, ../sass/screen.scss */
#prev {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  z-index: 40;
}

/* line 227, ../sass/screen.scss */
#next {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  z-index: 40;
}

/* line 236, ../sass/screen.scss */
#prev a, #next a {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 242, ../sass/screen.scss */
.stickyWrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
}

/* line 249, ../sass/screen.scss */
.footer, .push {
  height: 40px;
}
