{% extends 'base.html.twig' %}

{% block body %}
<!-- <div class="stickyWrapper"> -->
<header>
	<span class="serie">Gallery list</span>
</header>

<div class="push"></div>

<div class="index">

    {% for gallery in galleries %}

    	<div id="{{ gallery.name }}"  class="indexTitle">
	        {{ gallery.name }}
			<div class="indexDescription">
	            {{ gallery.description }}
			</div>
		</div>
    {% endfor %}

</div>

<!-- <footer class="footer">
	{{ include('default/_social.html.twig') }}
</footer> -->
<!--  -->
{% endblock %}
