html, body { height : 100% }

body {
	color : $fg-color;
	background-color : $bg-color;
}

a { color : #ddd }
a:hover { color : #eee }


/*
 * make divs behave like table cells
*/
.table { display : table ; width : 100%; height : 100% }
.tableCell { display : table-cell }
.vertMiddle { vertical-align : middle }


.button { background-color : #333; font-family : helvetica; margin : 0; }
.button:hover, .button:active, .button:focus { background-color : #222 }


div.socialButtons {
	position : absolute;
	right : 0;
	display : inline-block;
}

a { font-family: 'Lato', sans-serif; }

a.social.button {
	position : relative;
	display : inline-block;
	height : 36px;
    width : 36px;
    padding : 0;
	background-color : transparent;
    transition: width linear 1s;
}

i {
    color : #990066;
    position : relative;
    display : block;
    font-size : 30px;
}

i:hover {
	color : #ff0099;
}

a.social.button:hover, a.social:focus {
	color : #ff0099;
}

.error {
    color: #f09;
    font-family: 'Lato', sans-serif;
    font-size: 200%;
    padding: 10px 0;
}

a span {
    display: none;
    opacity : 1;
}

a:hover span {
    padding: 10px;
    // display: block;
    z-index: 100;
    position: absolute;
    left: 40px;
    top: 40px;
    text-decoration: none;
    background-color: #990066;
    @include border-radius(10px);
    // opacity: 0;
}
